.container {
    display: grid;
    height: 100%;
    column-gap: 3px;
    row-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: "m h h h h h h h h h h h h" "m c c c c c c c c c c c c" "m f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    /* grid-column: 1 / -1; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
    /* grid-column: 2 /-1; */
}

.footer {
    grid-area: f;
    /* grid-column: 1 / -1; */
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

html,
body {
    background-color: #ffeead;
    margin: 10px;
}

.container>div:nth-child(1n) {
    background-color: #96ceb4;
}

.container>div:nth-child(3n) {
    background-color: #88d8b0;
}

.container>div:nth-child(2n) {
    background-color: #ff6f69;
}

.container>div:nth-child(4n) {
    background-color: #ffcc5c;
}

.box {
    text-align: center;
    color: aliceblue;
    background-color: black;
}